.bold {
    font-weight: bold
    }
.calibre {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    text-align: justify;
    margin: 0 5pt
    }
.calibre_ {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_1 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 1em 0 0
    }
.calibre_2 {
    height: 1793px;
    vertical-align: baseline;
    width: 1345px
    }
.calibre_3 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 3em 0 0
    }
.calibre_4 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 139em 0 0 2em
    }
.calibre_5 {
    display: block;
    text-align: center;
    text-indent: 3em;
    margin: 1em 0 0
    }
.calibre_6 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0
    }
.calibre_7 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_8 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 0
    }
.calibre_9 {
    display: block;
    text-align: justify;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_10 {
    display: block;
    text-align: right;
    text-indent: 0;
    margin: 2em 0 0
    }
.calibre_11 {
    height: 94px;
    vertical-align: baseline;
    width: 310px
    }
.calibre_12 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 1em 0 0
    }
.calibre_13 {
    height: 72px;
    vertical-align: baseline;
    width: 243px
    }
.calibre_14 {
    height: 71px;
    vertical-align: baseline;
    width: 223px
    }
.calibre_15 {
    display: block;
    margin: 4em 0 0 2em
    }
.calibre_16 {
    display: block;
    text-align: center;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre_17 {
    display: block;
    margin: 10pt 0 0 2em
    }
.calibre_18 {
    display: block;
    margin: 1em 0 0 2em
    }
.calibre_19 {
    display: block;
    text-align: justify;
    text-indent: 4em;
    margin: 0 0 0 2em
    }
.calibre_20 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre_21 {
    display: block;
    margin: 6pt 0 0 2em
    }
.calibre_22 {
    display: block;
    text-align: justify;
    text-indent: 2em;
    margin: 71em 0 0
    }
.calibre_23 {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 71em 0 0
    }
.calibre_24 {
    display: block;
    margin: 70em 0 0 2em
    }
.calibre_25 {
    display: block;
    text-align: right;
    text-indent: 2em;
    margin: 0 0 0 2em
    }
.calibre_26 {
    height: 69px;
    vertical-align: baseline;
    width: 218px
    }
.calibre_27 {
    display: block;
    text-indent: -14pt;
    margin: 1em 0 0 14pt
    }
.calibre_28 {
    display: block;
    text-indent: 0;
    margin: 0 0 0 2em
    }
.calibre1 {
    font-size: 1.83333em;
    line-height: 1.2
    }
.calibre2 {
    font-size: 1.29167em;
    line-height: 1.2
    }
.calibre3 {
    color: #03c
    }
.calibre4 {
    display: block
    }
.calibre5 {
    font-size: 0.75em
    }
.calibre6 {
    font-size: 1.66667em;
    line-height: 1.2
    }
.calibre7 {
    display: block;
    margin: 0 0 0 2em
    }
.calibre8 {
    color: #fff
    }
.calibre9 {
    color: #898989
    }
.mbp_pagebreak {
    display: block;
    margin: 0
    }
